<ul role="list" class="bredcrumbs-list"><li class="bredcrumb-item"><a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="bredcrumb-link w-inline-block"><div>Home</div></a><img src="{{ 'bredcrumb-icon.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="breadcrumbs_icon">
</li>{% if template == 'product' %}    <li li-if="template == 'product'" class="bredcrumb-item">
    {% if collection.url %}    <div li-if="collection.url">
    <a li-object:href="collection.url" href="{{ collection.url }}" class="bredcrumb-link w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>    </div>
{% endif %}{% if collection.url == blank %}    <div li-if="collection.url == blank">
    <div li-object="product.vendor">{{ product.vendor }}</div>    </div>
{% endif %}<img src="{{ 'bredcrumb-icon.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="breadcrumbs_icon">
    </li>
{% endif %}{% if template == 'article' %}    <li li-if="template == 'article'" class="bredcrumb-item">
    <a li-object:href="blog.url" href="{{ blog.url }}" class="bredcrumb-link w-inline-block"><div li-object="blog.title">{{ blog.title }}</div></a><img src="{{ 'bredcrumb-icon.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="breadcrumbs_icon">
    </li>
{% endif %}{% if template == 'product' %}    <li li-if="template == 'product'" class="bredcrumb-item">
    <div li-object="product.title">{{ product.title }}</div>    </li>
{% endif %}{% if template == 'collection' %}    <li li-if="template == 'collection'" class="bredcrumb-item">
    <div li-object="collection.title">{{ collection.title }}</div>    </li>
{% endif %}{% if template == 'blog' %}    <li li-if="template == 'blog'" class="bredcrumb-item">
    <div li-object="blog.title">{{ blog.title }}</div>    </li>
{% endif %}{% if template == 'article' %}    <li li-if="template == 'article'" class="bredcrumb-item">
    <div li-object="article.title | truncate: 40">{{ article.title | truncate: 40 }}</div>    </li>
{% endif %}{% if template == 'page' %}    <li li-if="template == 'page'" class="bredcrumb-item">
    <div li-object="page.title | truncate: 40">{{ page.title | truncate: 40 }}</div>    </li>
{% endif %}</ul> {% schema %} {"tag":"div","name":"breadcrumb","class":"bredcrumbs","presets":[{"name":"breadcrumb","category":"Liquify","blocks":[]}]} {% endschema %}